body {
    margin: 0;
    color: #333333;
}

header {
    text-align: center;
}
header img {
    width: 150px;
}

header div {
     border-top: 1px solid #FFD877;
     background-color: #FDFBF1;
     color: #0F7777;
     font-size: 0.6rem;
     vertical-align: middle;
 }

 header div p {
    padding-block: 12px;
    margin: 0;
 }

 main {
    width: 550px;
    margin-inline: auto;
 }
 main h1 {
    text-align: center;
    font-size: 1.8rem;
 }
 main p {
    font-size: 0.8rem;
    margin-bottom: 10px;
 }

 picture {
    text-align: center;
    color: #999999;
 }

 picture img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(56, 56, 56, 0.5);
 }
 picture figcaption {
    margin-top: 7px;
    font-size: 0.8rem;
 }

video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(20, 20, 20, 0.8);
    margin-bottom: 8px;
}

.caption {
    text-align: center;
    color: #999999;
    margin: 0;
}


 section {
    border-left: 1px solid #FFD877;
    margin-block: 30px;
 }
 section h4, section p{
    margin: 0;
    margin-left: 15px;
 }
 

 section h4 {
    color: #B5460F;
    font-weight: normal;
    font-size: 0.8rem;
 }

a {
    color: #0F7777;
 }
 article div h2 {
    font-weight: normal;
    padding-bottom: 25px;
    border-bottom: 1px solid #C4F3F2;
 }
 article div h5 {
    margin-bottom: 0;
 }

 article div ul li {
    margin-block: 10px;
    font-size: 0.8rem;
 }

 article div ol li h5 {
    margin-bottom: 10px;
 }